<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Gender By Name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <body class="align">

  <h3>Machine Learning - Gender By Name</h3>
  <form>
    <div class="form__field">
      <input type="search" class="form__input" required placeholder="Insira o nome completo">
      <span class="icon">
        <button><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg></button>
      </span>
    </div>
  </form>

  <p>My Actual Accuracy is <b>70.81%</b> which means I can eat some mistakes</p>
  <div class="resultGender">👨🏾</div>

</body>
  
  
</body>

</html>
